################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyAzureRGTemplate/MultipleVMs/bin/Debug/staging/MultipleVMs/azuredeploy.parameters.json
/MyAzureRGTemplate/MultipleVMsWithScripts/bin/Debug/staging/MultipleVMsWithScripts/azuredeploy.parameters.json
